<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Bundle Name="WordpressDrive" 
          Version="0.1.0.0" 
          Manufacturer="The Ripper" 
          IconSourceFile="$(var.WordpressDrive.ProjectDir)\Resources\SystemTrayApp.ico"
          UpgradeCode="170be763-5a6f-4208-ad01-59105a652199">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense" >
      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(var.WordpressDriveSetup.ProjectDir)\WordpressDriveLicense.rtf"
        LogoFile="WordPressLogo64yellowW.png"
        ShowVersion="yes"
                  />
      </BootstrapperApplicationRef>
    
      <Chain DisableSystemRestore="yes" DisableRollback="yes">
      <PackageGroupRef Id="NetFx46Web"/>
      <PackageGroupRef Id="WinFsp" />
      <PackageGroupRef Id="WordpressDrive" />
		</Chain>
	</Bundle>

</Wix>
